.quote {
  display: flex;
  justify-content: center;

  &__line {
    min-height: 30vh;
    width: 10px;
    background-color: yellow;
    margin-right: 10px;
  }

  &__text {
    width: 60%;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
    font-size: 32px;
  }
}
